.champion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2rem 2rem;
}

.champion-content{
    display: flex;
    flex-direction: row;
}

.champion-text{
    text-align: left;
    width: 48rem;
    padding-right: 8rem;
}

.champion-image img{
    width: 22rem;
}

.champion-image h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    color: #003979;
}

.switching-fast{
    background-image: url('../assets/buildings.png');
    padding: 1rem 5rem;
}

.switch-title p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

.switch-title span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #003979;
}

.swtich-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.swtich-content img{
    height: 20rem;

    margin: 2rem 5rem 2rem 0;
}

@media screen and (max-width: 1025px){
    .champion-image img{
        width: 18rem;
    }

    .champion-text{
        text-align: left;
        width: 43rem;
        padding-right: 8rem;
    }
}

@media screen and (max-width: 914px){
    .champion-image img{
        width: 13rem;
    }

    .champion-text{
        width: 40rem;
        padding-right: 6rem;
    }

    .swtich-content img{
        height: 15rem;
    
        margin: 0 5rem 3rem 0;
    }
}

@media screen and (max-width: 450px){

    .champion-content{
        flex-direction: column;
    }

    .champion-text{
        width: 100%;
        padding-right: 0rem;
    }

    .swtich-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .switching-fast{
        padding: 1rem 1rem;
        margin: 0;
    }

    .switch-title p{
        font-size: 30px;
    }
    
    .switch-title span{
        font-size: 31px;
    }

    .points{
        width: 100%;
    }

    .swtich-content img{
        margin: 1rem 0;
    }

}