@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://rsms.me/inter/inter.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell','Inter', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Noto Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hr1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  margin: 0;
}

.hr2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  color: #003979;
  margin: 0;
}

.hr3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  color: #006DF6;
  margin: 0;
}
